pipeline/MetadataDrivenCopyTask_98n_TopLevel.json
{
	"name": "MetadataDrivenCopyTask_98n_TopLevel",
	"properties": {
		"description": "This pipeline will count the total number of objects (tables etc.) required to be copied in this run, come up with the number of sequential batches based on the max allowed concurrent copy task, and then execute another pipeline to copy different batches sequentially.",
		"activities": [
			{
				"name": "GetSumOfObjectsToCopy",
				"description": "Count the total number of objects (tables etc.) required to be copied in this run.",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "START",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT count(*) as count FROM @{pipeline().parameters.MainControlTableName} where TopLevelPipelineName='@{pipeline().Pipeline}' and TriggerName like '%@{pipeline().TriggerName}%' and CopyEnabled = 1",
							"type": "Expression"
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "MetadataDrivenCopyTask_98n_ControlDS",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "CopyBatchesOfObjectsSequentially",
				"description": "Come up with the number of sequential batches based on the max allowed concurrent copy tasks, and then execute another pipeline to copy different batches sequentially.",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetSumOfObjectsToCopy",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@range(0, add(div(activity('GetSumOfObjectsToCopy').output.firstRow.count,\n                    pipeline().parameters.MaxNumberOfConcurrentTasks),\n                    if(equals(mod(activity('GetSumOfObjectsToCopy').output.firstRow.count,\n                    pipeline().parameters.MaxNumberOfConcurrentTasks), 0), 0, 1)))",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "CopyObjectsInOneBatch",
							"description": "Execute another pipeline to copy one batch of objects. The objects belonging to this batch will be copied parallelly.",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "FOREACH",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "MetadataDrivenCopyTask_98n_MiddleLevel",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"MaxNumberOfObjectsReturnedFromLookupActivity": {
										"value": "@pipeline().parameters.MaxNumberOfObjectsReturnedFromLookupActivity",
										"type": "Expression"
									},
									"TopLevelPipelineName": {
										"value": "@{pipeline().Pipeline}",
										"type": "Expression"
									},
									"TriggerName": {
										"value": "@{pipeline().TriggerName}",
										"type": "Expression"
									},
									"CurrentSequentialNumberOfBatch": {
										"value": "@item()",
										"type": "Expression"
									},
									"SumOfObjectsToCopy": {
										"value": "@activity('GetSumOfObjectsToCopy').output.firstRow.count",
										"type": "Expression"
									},
									"SumOfObjectsToCopyForCurrentBatch": {
										"value": "@min(pipeline().parameters.MaxNumberOfConcurrentTasks, activity('GetSumOfObjectsToCopy').output.firstRow.count)",
										"type": "Expression"
									},
									"MainControlTableName": {
										"value": "@pipeline().parameters.MainControlTableName",
										"type": "Expression"
									},
									"Top_pipeline_Run_ID": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "FOREACH",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[log_common]",
								"storedProcedureParameters": {
									"activity_name": {
										"value": "FOREACH",
										"type": "String"
									},
									"pipeline_name": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"pipeline_Run_ID": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"Top_pipeline_Run_ID": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"filename": {
										"value": "hello",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "movies",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "START",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[log_common]",
					"storedProcedureParameters": {
						"activity_name": {
							"value": "START",
							"type": "String"
						},
						"pipeline_name": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipeline_Run_ID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"Top_pipeline_Run_ID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"filename": {
							"value": null,
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "movies",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "END",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "CopyBatchesOfObjectsSequentially",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[log_common]",
					"storedProcedureParameters": {
						"activity_name": {
							"value": "END",
							"type": "String"
						},
						"pipeline_name": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipeline_Run_ID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"Top_pipeline_Run_ID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"filename": {
							"value": null,
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "movies",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "log_error_details",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "START",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[log_error_details]",
					"storedProcedureParameters": {
						"activity_name": {
							"value": "ERROR HANDLING",
							"type": "String"
						},
						"error_code": {
							"value": {
								"value": "@activity('START').output.executionDetails[0].status",
								"type": "Expression"
							},
							"type": "String"
						},
						"error_message": {
							"value": null,
							"type": "String"
						},
						"failure_type": {
							"value": null,
							"type": "String"
						},
						"pipeline_name": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipeline_Run_ID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"Top_pipeline_Run_ID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "movies",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"MaxNumberOfObjectsReturnedFromLookupActivity": {
				"type": "Int",
				"defaultValue": 5000
			},
			"MaxNumberOfConcurrentTasks": {
				"type": "Int",
				"defaultValue": 20
			},
			"MainControlTableName": {
				"type": "String",
				"defaultValue": "etl.tControlMetadata"
			}
		},
		"variables": {
			"metadate": {
				"type": "String"
			},
			"M1": {
				"type": "String"
			}
		},
		"folder": {
			"name": "MetadataDrivenCopyTask_98n_20230627"
		},
		"annotations": [
			"MetadataDrivenSolution"
		],
		"lastPublishTime": "2023-07-17T15:13:55Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}