pipeline/MetadataDrivenCopyTask_98n_BottomLevel.json
{
	"name": "MetadataDrivenCopyTask_98n_BottomLevel",
	"properties": {
		"description": "This pipeline will copy objects from one group. The objects belonging to this group will be copied parallelly.",
		"activities": [
			{
				"name": "ListObjectsFromOneGroup",
				"description": "List objects from one group and iterate each of them to downstream activities",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "START",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.ObjectsPerGroupToCopy",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "RouteJobsBasedOnLoadingBehavior",
							"description": "Check the loading behavior for each object if it requires full load or incremental load. If it is Default or FullLoad case, do full load. If it is DeltaLoad case, do incremental load.",
							"type": "Switch",
							"dependsOn": [
								{
									"activity": "SWITCH START",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"on": {
									"value": "@json(item().DataLoadingBehaviorSettings).dataLoadingBehavior",
									"type": "Expression"
								},
								"cases": [
									{
										"value": "FullLoad",
										"activities": [
											{
												"name": "FullLoadOneObject",
												"description": "Take a full snapshot on this object and copy it to the destination",
												"type": "Copy",
												"dependsOn": [
													{
														"activity": "COPY_START_02",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [
													{
														"name": "Source",
														"value": "@{json(item().SourceObjectSettings).container}/@{json(item().SourceObjectSettings).folderPath}/@{json(item().SourceObjectSettings).fileName}"
													},
													{
														"name": "Destination",
														"value": "@{json(item().SinkObjectSettings).schema}.@{json(item().SinkObjectSettings).table}"
													}
												],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"storeSettings": {
															"type": "AzureBlobStorageReadSettings",
															"recursive": {
																"value": "@json(item().CopySourceSettings).recursive",
																"type": "Expression"
															},
															"wildcardFileName": {
																"value": "@json(item().CopySourceSettings).wildcardFileName",
																"type": "Expression"
															},
															"enablePartitionDiscovery": {
																"value": "@json(item().CopySourceSettings).enablePartitionDiscovery",
																"type": "Expression"
															}
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings",
															"skipLineCount": {
																"value": "@json(item().CopySourceSettings).skipLineCount",
																"type": "Expression"
															}
														}
													},
													"sink": {
														"type": "AzureSqlSink",
														"preCopyScript": {
															"value": "@json(item().CopySinkSettings).preCopyScript",
															"type": "Expression"
														},
														"tableOption": {
															"value": "@json(item().CopySinkSettings).tableOption",
															"type": "Expression"
														}
													},
													"enableStaging": false,
													"validateDataConsistency": false,
													"translator": {
														"value": "@json(item().CopyActivitySettings).translator",
														"type": "Expression"
													}
												},
												"inputs": [
													{
														"referenceName": "MetadataDrivenCopyTask_98n_SourceDS",
														"type": "DatasetReference",
														"parameters": {
															"cw_columnDelimiter": {
																"value": "@json(item().SourceObjectSettings).columnDelimiter",
																"type": "Expression"
															},
															"cw_rowDelimiter": {
																"value": "@json(item().SourceObjectSettings).rowDelimiter",
																"type": "Expression"
															},
															"cw_escapeChar": {
																"value": "@json(item().SourceObjectSettings).escapeChar",
																"type": "Expression"
															},
															"cw_quoteChar": {
																"value": "@json(item().SourceObjectSettings).quoteChar",
																"type": "Expression"
															},
															"cw_firstRowAsHeader": {
																"value": "@json(item().SourceObjectSettings).firstRowAsHeader",
																"type": "Expression"
															},
															"cw_fileName": {
																"value": "@json(item().SourceObjectSettings).fileName",
																"type": "Expression"
															},
															"cw_folderPath": {
																"value": "@json(item().SourceObjectSettings).folderPath",
																"type": "Expression"
															},
															"cw_container": {
																"value": "@json(item().SourceObjectSettings).container",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "MetadataDrivenCopyTask_98n_DestinationDS",
														"type": "DatasetReference",
														"parameters": {
															"cw_schema": {
																"value": "@json(item().SinkObjectSettings).schema",
																"type": "Expression"
															},
															"cw_table": {
																"value": "@json(item().SinkObjectSettings).table",
																"type": "Expression"
															}
														}
													}
												]
											},
											{
												"name": "COPY_START_02",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[dbo].[log_common]",
													"storedProcedureParameters": {
														"activity_name": {
															"value": "COPY START 02",
															"type": "String"
														},
														"pipeline_name": {
															"value": {
																"value": "@pipeline().Pipeline",
																"type": "Expression"
															},
															"type": "String"
														},
														"pipeline_Run_ID": {
															"value": {
																"value": "@pipeline().RunId",
																"type": "Expression"
															},
															"type": "String"
														},
														"Top_pipeline_Run_ID": {
															"value": {
																"value": "@pipeline().parameters.Top_pipeline_Run_ID",
																"type": "Expression"
															},
															"type": "String"
														},
														"filename": {
															"value": {
																"value": "@json(item().SourceObjectSettings).fileName",
																"type": "Expression"
															},
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "movies",
													"type": "LinkedServiceReference"
												}
											},
											{
												"name": "COPY_END_02",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "BILLING",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[dbo].[log_common]",
													"storedProcedureParameters": {
														"activity_name": {
															"value": "COPY END 02",
															"type": "String"
														},
														"pipeline_name": {
															"value": {
																"value": "@pipeline().Pipeline",
																"type": "Expression"
															},
															"type": "String"
														},
														"pipeline_Run_ID": {
															"value": {
																"value": "@pipeline().RunId",
																"type": "Expression"
															},
															"type": "String"
														},
														"Top_pipeline_Run_ID": {
															"value": {
																"value": "@pipeline().parameters.Top_pipeline_Run_ID",
																"type": "Expression"
															},
															"type": "String"
														},
														"filename": {
															"value": {
																"value": "@json(item().SourceObjectSettings).fileName",
																"type": "Expression"
															},
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "movies",
													"type": "LinkedServiceReference"
												}
											},
											{
												"name": "BILLING",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "FullLoadOneObject",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[dbo].[log_Billing]",
													"storedProcedureParameters": {
														"activity": {
															"value": {
																"value": "activity('FullLoadOneObject').output.executionDetails[0].duration",
																"type": "Expression"
															},
															"type": "String"
														},
														"activity_name": {
															"value": "COPY DATA",
															"type": "String"
														},
														"billing_duration": {
															"value": {
																"value": "@activity('FullLoadOneObject').output.executionDetails[0].duration",
																"type": "Expression"
															},
															"type": "Double"
														},
														"meter_type": {
															"value": {
																"value": "@activity('FullLoadOneObject').output.billingReference.billableDuration[0].meterType",
																"type": "Expression"
															},
															"type": "String"
														},
														"number_of_parallel_copies": {
															"value": {
																"value": "@activity('FullLoadOneObject').output.usedParallelCopies",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"number_of_processed_files": {
															"value": {
																"value": "@activity('FullLoadOneObject').output.filesRead",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"number_of_read_rows": {
															"value": {
																"value": "@activity('FullLoadOneObject').output.rowsRead",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"number_of_used_DIU": {
															"value": {
																"value": "@activity('FullLoadOneObject').output.usedDataIntegrationUnits",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"number_of_written_rows": {
															"value": {
																"value": "@activity('FullLoadOneObject').output.rowsCopied",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"pipeline_Run_ID": {
															"value": {
																"value": "@pipeline().RunId",
																"type": "Expression"
															},
															"type": "String"
														},
														"filename": {
															"value": {
																"value": "@json(item().SourceObjectSettings).fileName",
																"type": "Expression"
															},
															"type": "String"
														},
														"start_time": {
															"value": {
																"value": "@activity('FullLoadOneObject').output.executionDetails[0].start",
																"type": "Expression"
															},
															"type": "Datetime"
														},
														"end_time": {
															"value": {
																"value": "@addseconds(activity('FullLoadOneObject').output.executionDetails[0].start, activity('FullLoadOneObject').output.executionDetails[0].duration)",
																"type": "Expression"
															},
															"type": "Datetime"
														},
														"status": {
															"value": {
																"value": "@activity('FullLoadOneObject').output.executionDetails[0].status",
																"type": "Expression"
															},
															"type": "String"
														},
														"queue_duration": {
															"value": {
																"value": "@activity('FullLoadOneObject').output.executionDetails[0].detailedDurations.queuingDuration",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"transfer_duration": {
															"value": {
																"value": "@activity('FullLoadOneObject').output.executionDetails[0].detailedDurations.transferDuration",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"copy_duration": {
															"value": {
																"value": "@activity('FullLoadOneObject').output.copyDuration",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"duration": {
															"value": {
																"value": "@activity('FullLoadOneObject').output.executionDetails[0].duration",
																"type": "Expression"
															},
															"type": "Int32"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "movies",
													"type": "LinkedServiceReference"
												}
											},
											{
												"name": "log_error_details",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "FullLoadOneObject",
														"dependencyConditions": [
															"Failed"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[dbo].[log_error_details]",
													"storedProcedureParameters": {
														"activity_name": {
															"value": "ERROR HANDLING",
															"type": "String"
														},
														"error_code": {
															"value": {
																"value": "@activity('FullLoadOneObject').output.errors[0].Code",
																"type": "Expression"
															},
															"type": "String"
														},
														"error_message": {
															"value": {
																"value": "@activity('FullLoadOneObject').output.errors[0].Message",
																"type": "Expression"
															},
															"type": "String"
														},
														"failure_type": {
															"value": {
																"value": "@activity('FullLoadOneObject').output.errors[0].EventType",
																"type": "Expression"
															},
															"type": "String"
														},
														"pipeline_name": {
															"value": {
																"value": "@pipeline().Pipeline",
																"type": "Expression"
															},
															"type": "String"
														},
														"pipeline_Run_ID": {
															"value": {
																"value": "@pipeline().RunId",
																"type": "Expression"
															},
															"type": "String"
														},
														"Top_pipeline_Run_ID": {
															"value": {
																"value": "@pipeline().parameters.Top_pipeline_Run_ID",
																"type": "Expression"
															},
															"type": "String"
														},
														"Category": {
															"value": {
																"value": "@activity('FullLoadOneObject').output.errors[0].Category",
																"type": "Expression"
															},
															"type": "String"
														},
														"Data": {
															"value": {
																"value": "@activity('FullLoadOneObject').output.errors[0].Data",
																"type": "Expression"
															},
															"type": "String"
														},
														"MsgId": {
															"value": {
																"value": "@activity('FullLoadOneObject').output.errors[0].MsgId",
																"type": "Expression"
															},
															"type": "String"
														},
														"ExceptionType": {
															"value": {
																"value": "@activity('FullLoadOneObject').output.errors[0].ExceptionType",
																"type": "Expression"
															},
															"type": "String"
														},
														"Source": {
															"value": {
																"value": "@activity('FullLoadOneObject').output.errors[0].Source",
																"type": "Expression"
															},
															"type": "String"
														},
														"StackTrace": {
															"value": {
																"value": "@activity('FullLoadOneObject').output.errors[0].StackTrace",
																"type": "Expression"
															},
															"type": "String"
														},
														"InnerEventInfos": {
															"value": {
																"value": "@activity('FullLoadOneObject').output.errors[0].InnerEventInfos",
																"type": "Expression"
															},
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "movies",
													"type": "LinkedServiceReference"
												}
											}
										]
									}
								],
								"defaultActivities": [
									{
										"name": "DefaultFullLoadOneObject",
										"description": "Take a full snapshot on this object and copy it to the destination",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "COPY_START_01",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [
											{
												"name": "Source",
												"value": "@{json(item().SourceObjectSettings).container}/@{json(item().SourceObjectSettings).folderPath}/@{json(item().SourceObjectSettings).fileName}"
											},
											{
												"name": "Destination",
												"value": "@{json(item().SinkObjectSettings).schema}.@{json(item().SinkObjectSettings).table}"
											}
										],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"storeSettings": {
													"type": "AzureBlobStorageReadSettings",
													"recursive": {
														"value": "@json(item().CopySourceSettings).recursive",
														"type": "Expression"
													},
													"wildcardFileName": {
														"value": "@json(item().CopySourceSettings).wildcardFileName",
														"type": "Expression"
													},
													"enablePartitionDiscovery": {
														"value": "@json(item().CopySourceSettings).enablePartitionDiscovery",
														"type": "Expression"
													}
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings",
													"skipLineCount": {
														"value": "@json(item().CopySourceSettings).skipLineCount",
														"type": "Expression"
													}
												}
											},
											"sink": {
												"type": "AzureSqlSink",
												"preCopyScript": {
													"value": "@json(item().CopySinkSettings).preCopyScript",
													"type": "Expression"
												},
												"tableOption": {
													"value": "@json(item().CopySinkSettings).tableOption",
													"type": "Expression"
												}
											},
											"enableStaging": false,
											"validateDataConsistency": false,
											"translator": {
												"value": "@json(item().CopyActivitySettings).translator",
												"type": "Expression"
											}
										},
										"inputs": [
											{
												"referenceName": "MetadataDrivenCopyTask_98n_SourceDS",
												"type": "DatasetReference",
												"parameters": {
													"cw_columnDelimiter": {
														"value": "@json(item().SourceObjectSettings).columnDelimiter",
														"type": "Expression"
													},
													"cw_rowDelimiter": {
														"value": "@json(item().SourceObjectSettings).rowDelimiter",
														"type": "Expression"
													},
													"cw_escapeChar": {
														"value": "@json(item().SourceObjectSettings).escapeChar",
														"type": "Expression"
													},
													"cw_quoteChar": {
														"value": "@json(item().SourceObjectSettings).quoteChar",
														"type": "Expression"
													},
													"cw_firstRowAsHeader": {
														"value": "@json(item().SourceObjectSettings).firstRowAsHeader",
														"type": "Expression"
													},
													"cw_fileName": {
														"value": "@json(item().SourceObjectSettings).fileName",
														"type": "Expression"
													},
													"cw_folderPath": {
														"value": "@json(item().SourceObjectSettings).folderPath",
														"type": "Expression"
													},
													"cw_container": {
														"value": "@json(item().SourceObjectSettings).container",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "MetadataDrivenCopyTask_98n_DestinationDS",
												"type": "DatasetReference",
												"parameters": {
													"cw_schema": {
														"value": "@json(item().SinkObjectSettings).schema",
														"type": "Expression"
													},
													"cw_table": {
														"value": "@json(item().SinkObjectSettings).table",
														"type": "Expression"
													}
												}
											}
										]
									},
									{
										"name": "COPY_START_01",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[dbo].[log_common]",
											"storedProcedureParameters": {
												"activity_name": {
													"value": "COPY START 01",
													"type": "String"
												},
												"pipeline_name": {
													"value": {
														"value": "@pipeline().Pipeline",
														"type": "Expression"
													},
													"type": "String"
												},
												"pipeline_Run_ID": {
													"value": {
														"value": "@pipeline().RunId",
														"type": "Expression"
													},
													"type": "String"
												},
												"Top_pipeline_Run_ID": {
													"value": {
														"value": "@pipeline().parameters.Top_pipeline_Run_ID",
														"type": "Expression"
													},
													"type": "String"
												},
												"filename": {
													"value": {
														"value": "@json(item().SourceObjectSettings).fileName",
														"type": "Expression"
													},
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "movies",
											"type": "LinkedServiceReference"
										}
									},
									{
										"name": "COPY_END_01",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "DefaultFullLoadOneObject",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[dbo].[log_common]",
											"storedProcedureParameters": {
												"activity_name": {
													"value": "COPY END 01",
													"type": "String"
												},
												"pipeline_name": {
													"value": {
														"value": "@pipeline().Pipeline",
														"type": "Expression"
													},
													"type": "String"
												},
												"pipeline_Run_ID": {
													"value": {
														"value": "@pipeline().RunId",
														"type": "Expression"
													},
													"type": "String"
												},
												"Top_pipeline_Run_ID": {
													"value": {
														"value": "@pipeline().parameters.Top_pipeline_Run_ID",
														"type": "Expression"
													},
													"type": "String"
												},
												"filename": {
													"value": {
														"value": "@json(item().SourceObjectSettings).fileName",
														"type": "Expression"
													},
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "movies",
											"type": "LinkedServiceReference"
										}
									}
								]
							}
						},
						{
							"name": "SWITCH START",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[log_common]",
								"storedProcedureParameters": {
									"activity_name": {
										"value": "SWITCH START",
										"type": "String"
									},
									"pipeline_name": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"pipeline_Run_ID": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"Top_pipeline_Run_ID": {
										"value": {
											"value": "@pipeline().parameters.Top_pipeline_Run_ID",
											"type": "Expression"
										},
										"type": "String"
									},
									"filename": {
										"value": {
											"value": "@json(item().SourceObjectSettings).fileName",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "movies",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "START",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[log_common]",
					"storedProcedureParameters": {
						"activity_name": {
							"value": {
								"value": "START",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipeline_name": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipeline_Run_ID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"Top_pipeline_Run_ID": {
							"value": {
								"value": "@pipeline().parameters.Top_pipeline_Run_ID",
								"type": "Expression"
							},
							"type": "String"
						},
						"filename": {
							"value": null,
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "movies",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "END",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ListObjectsFromOneGroup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[log_common]",
					"storedProcedureParameters": {
						"activity_name": {
							"value": "END",
							"type": "String"
						},
						"pipeline_name": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipeline_Run_ID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"Top_pipeline_Run_ID": {
							"value": {
								"value": "@pipeline().parameters.Top_pipeline_Run_ID",
								"type": "Expression"
							},
							"type": "String"
						},
						"filename": {
							"value": null,
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "movies",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"ObjectsPerGroupToCopy": {
				"type": "Array"
			},
			"Top_pipeline_Run_ID": {
				"type": "string"
			}
		},
		"variables": {
			"X": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "MetadataDrivenCopyTask_98n_20230627"
		},
		"annotations": [],
		"lastPublishTime": "2023-07-06T09:35:04Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}