pipeline/Module_7_Task_3.json
{
	"name": "Module_7_Task_3",
	"properties": {
		"description": "Copy files incrementally",
		"activities": [
			{
				"name": "Copy files incrementally",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "LookupOldWaterMarkActivity",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"modifiedDatetimeStart": {
								"value": "@activity('LookupOldWaterMarkActivity').output.firstRow.WatermarkValue",
								"type": "Expression"
							},
							"modifiedDatetimeEnd": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"deleteFilesAfterCompletion": false
						},
						"formatSettings": {
							"type": "BinaryReadSettings"
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						}
					},
					"enableStaging": false,
					"parallelCopies": {
						"value": "@pipeline().parameters.Degree_of_copy_parallelism",
						"type": "Expression"
					},
					"dataIntegrationUnits": {
						"value": "@pipeline().parameters.DIU",
						"type": "Expression"
					}
				},
				"inputs": [
					{
						"referenceName": "onlineSource",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "onlineSink",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "LookupOldWaterMarkActivity",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT COALESCE(MAX([WatermarkValue]),CONVERT(DATE,'1970-01-01',102)) [WatermarkValue]\nFROM [dbo].[watermarktable]\nWHERE  [TableName] = 'OnlineBlob'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "WatermarkDataset",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "StoredProceduretoWriteWatermarkActivity",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy files incrementally",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "sourceName",
						"value": "OnlineBlob"
					}
				],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_write_watermark]",
					"storedProcedureParameters": {
						"LastModifiedtime": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"TableName": {
							"value": {
								"value": "@pipeline().parameters.sourceName",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "movies",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"sourceName": {
				"type": "string",
				"defaultValue": "OnlineBlob"
			},
			"Degree_of_copy_parallelism": {
				"type": "int",
				"defaultValue": 16
			},
			"DIU": {
				"type": "int",
				"defaultValue": 4
			}
		},
		"variables": {
			"PipelineStartTS": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Module07"
		},
		"annotations": [],
		"lastPublishTime": "2023-06-15T09:55:33Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}