pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "movies_metadata",
						"type": "DatasetReference"
					},
					"fieldList": [
						"structure"
					]
				}
			},
			{
				"name": "ID",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "M1",
					"value": {
						"value": "@activity('Get Metadata1').output",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"M1": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Module09"
		},
		"annotations": [],
		"lastPublishTime": "2023-06-29T09:24:12Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}